.about-team-section {
  position: relative;
  padding: 8rem 5% 8rem;
  overflow: hidden;
  box-sizing: border-box;
}

.about-sticky-note {
  position: absolute;
  top: 0rem;
  left: 7%;
  width: 35%;
  max-width: 500px;
  z-index: 10;
}

.about-archway {
  position: absolute;
  bottom: 0rem;
  left: -1%;
  width: 50%;
  max-width: 390px;
  z-index: 1;
  height: 480px;
}

.about-main-content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-team-center {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin-top: 8rem;
  margin-left: 25%;
}

.about-team-silhouette {
  width: 63%;
  margin-left: 185px;
}

.label-container-branding,
.label-container-film,
.label-container-art {
  position: absolute;
  z-index: 15;
  width: 250px;
  height: 250px;
}

.label-container-branding { top: 40%; left: -30%; }
.label-container-film { top: -20%; left: 20%; }
.label-container-art { top: 20%; right: -25%; }

.arrow-branding, .text-branding, .arrow-film, .text-film, .arrow-art, .text-art {
  position: absolute;
  font-family: var(--font-heading);
  font-size: 42px;
  color: #333;
}

.arrow-branding { top: 30px; right: -90px; width: 130px; }
.text-branding { bottom: 25px; right: -70px; width: 100%; }
.arrow-film { bottom: 207px; left: 90px; width: 150px; }
.text-film { top: -100px; left: 13px; width: 75%; }
.arrow-art { bottom: 175px; left: 73px; width: 100px; }
.text-art { bottom: 310px; left: 95px; width: 68%; }

.about-footer-content {
  position: relative;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.about-headline {
  font-family: var(--font-subheading);
  font-size: 30px;
  font-weight: 400;
  color: var(--color-body-text);
  text-align: center;
  position: relative;
  z-index: 5;
  margin-left: 410px;
}

.about-portfolio-btn {
  background-color: var(--color-button-orange);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.75rem 1.5rem;
  font-family: var(--font-body);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 1rem auto 0 auto;
  position: relative;
  z-index: 5;
  margin-left: 720px;
}

.about-portfolio-btn:hover {
  background-color: #d15f3a;
}

@media (max-width: 1080px) {
  .about-headline {
    margin-left: 0;
  }
  .about-portfolio-btn {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .about-team-section {
    padding: 6rem 5% 4rem;
  }

  .about-sticky-note,
  .about-archway,
  .arrow-branding,
  .arrow-film,
  .arrow-art {
    display: none;
  }

  .about-team-center {
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .about-team-silhouette {
    width: 100%;
    margin-left: 0;
  }

  .label-container-branding,
  .label-container-film,
  .label-container-art {
    position: static;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 0.5rem;
  }

  .text-branding,
  .text-film,
  .text-art {
    position: static;
    width: 100%;
    font-size: 36px;
  }

  .about-footer-content {
    margin-top: 3rem;
  }
  .about-headline {
    font-size: 24px;
    margin-left: 0;
    max-width: 400px;
  }

  .about-portfolio-btn {
    margin: 1rem auto 0 auto;
  }
}

@media (max-width: 480px) {
  .text-branding,
  .text-film,
  .text-art {
    font-size: 30px;
  }

  .about-headline {
    font-size: 20px;
    margin-top: 2rem;
  }
}
